article.post
  h2
    a.permalink(href=post.url)= post.title
  h3= post.subtitle
  .byline
    | posted 
    a.permalink(href=post.url)= post.formattedDate 
    | &nbsp;by 
    a.author(href='/authors/#{post.authorSlug}')= post.author
  p !{post.postBody}
  .postmeta
    if (post.tags).length > 0
      .tags
        | filed under 
        each tag, slug in post.tagMap
          if (slug === post.lastTag) && (post.tagCount > 1)
            | and 
          a(href='/tag/'+slug, alt=tag, title=tag) #{tag}
          if (slug !== post.lastTag) && (post.tagCount > 2)
            | , 
          else
            |  
