article.post
  h2
    a.permalink(href=postData.url)= postData.title
  h3= postData.subtitle
  .byline
    | posted 
    a.permalink(href=postData.url)= postData.formattedDate 
    | &nbsp;by 
    a.author(href='/#{postData.author_slug}')= postData.author
  | !{postData.postBody}
  .postmeta
    if Object.keys(postData.tags).length > 0
      .tags
        | filed under 
        each tag, slug in postData.tags
          if (slug === postData.lastTag) && (postData.tagCount > 1)
            | and 
          a(href='/tag/'+slug, alt=tag, title=tag) #{tag}
          if (slug !== postData.lastTag) && (postData.tagCount > 2)
            | , 
          else
            |  
