h4 Post archives
ul.post_archives
  - var years = [], months = [];
  each months, year in postDates
    - years.push(year)
  - years = years.sort(function (a, b) { return b - a; })
  each year in years
    li
      a(href='/#{year}') #{year}
    if locals.year && locals.year === year
      ul
        each name, month in postDates[year]
          - months.push(month)
        - months = months.sort()
        each month in months
          li
            a(href='/#{year}/#{month}') #{postDates[year][month]}
